html,
body {
  padding: 0;
  margin: 0;
  background: #e1e3de;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: blue;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.tempo-wrap {
  padding: 60px;
  max-width: 800px;
  margin: auto;
}

.tempo-wrap input {
  line-height: 2;
  font-size: 18px;
  height: auto;
  padding-left: 20px;
}

.tempo-wrap ul {
  margin: 0;
  padding: 0;
}
  
.tempo-wrap li {
  list-style: none;
  border: 1px solid #ccc;
  margin-top: -1px;
  line-height: 2;
  padding: 5px 20px;
  background: white;
}

.member-list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1.5rem;
}

.member-item {
  background: #FFF;
  border: 1px solid #ccc;
  display: flex;
}

.avatar {
  flex: 0 0 70px;
  height: 70px;
  margin: 10px;
  position: relative;
  display: block;
  border-radius: 100%;
  overflow: hidden;
}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}